footer.footer
  .footer__wrap.container
    .location
      h3.location__title Location
      p.location__text 3481 Melrose Place<br> Beverly Hills, CA 90210

    .social
      h3.social__title Share with love
      .social__items
        a.social__item.social__item--facebook Facebook
        a.social__item.social__item--twitter  Twitter
        a.social__item.social__item--linkedin  Linkedin

    .info
      h3.info__title About Activebox
      p.info__text.
       Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec ullamcorper nulla non metus auctor fringilla.

  .copyright
    .copyright__wrap.container
      .copyright__text.
        Copyright © 2015 ActiveBox. All Rights Reserved
        Made with
        <i><span>&#x2764;</span> by Kamal Chaneman</i>
        