header.header
  .header__wrap.container
    .top
      a.logo(href="#")
        img.logo__img(src="assets/img/ActiveBox.png")
      nav.menu
        ul.menu__items
          li.menu__item
            a.menu__link(href="#") features
          li.menu__item
            a.menu__link(href="#") works
          li.menu__item
            a.menu__link(href="#") our teams
          li.menu__item
            a.menu__link(href="#") testimonials
          li.menu__item
            a.menu__link(href="#") download

    .slogan
      h1.slogan__title Your Favorite One Page Multi Purpose Template
      p.slogan__text.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna
        vel scelerisque nisl consectetur et.
      button.btn(type="button") Find out more
