main.content
  section.features.container
    ul.features__items
      li.features__item
        .features__icon.features__icon--custom
        h2.features__item-title Easily Customised
        p.features__item-text Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla
      li.features__item
        .features__icon.features__icon--responsive
        h2.features__item-title Responsive Ready
        p.features__item-text Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla
      li.features__item
        .features__icon.features__icon--design
        h2.features__item-title Modern Design
        p.features__item-text Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla
      li.features__item
        .features__icon.features__icon--code
        h2.features__item-title Clean code
        p.features__item-text Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla
      li.features__item
        .features__icon.features__icon--ship
        h2.features__item-title Ready to ship
        p.features__item-text Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla
      li.features__item
        .features__icon.features__icon--download
        h2.features__item-title Download for free
        p.features__item-text Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla

  section.gallery
    each val in [0,1,2,3,4,5,6,7]
      .gallery__img-wrap
        img.gallery__img(src='assets/img/img_' + val + '.jpg')





