.copyright {
  background-color: #313454;
}
.copyright__wrap {
  padding: 25px 0;
}
.copyright__text {
  width: 315px;
  margin: 0 auto;
  text-align: center;
  font-size: rem(14px);
  line-height: rem(23px);
  color: #808080;
  i {
    color: #ffffff;
    font-style: normal;
    span {
      color: red;
    }
  }
}