
.features__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 110px;
  padding-bottom: 60px;
}
.features__item {
  flex-basis: 30%;
  margin-bottom: 60px;
  padding: 0 20px;
}



.features__item-title {
  text-align: center;
  font-size: rem(14px);
  font-weight: bold;
  text-transform: uppercase;
  padding: 25px 10px;
}
.features__item-text {
  text-align: center;
  font-size: rem(14px);
  line-height: rem(21px);
  color: #6c7279;
}

.features__icon {
  margin: 0 auto;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
  &--custom {
    width: 60px;
    height: 60px;
    background-position: -86px -10px;
  }
  &--responsive {
    width: 73px;
    height: 60px;
    background-position: -109px -90px;
  }
  &--design {
    width: 43px;
    height: 60px;
    background-image: url(../img/design.png);
  }
  &--code {
    width: 56px;
    height: 60px;
    background-position: -10px -10px;
  }
  &--ship {
    width: 72px;
    height: 60px;
    background-position: -202px -10px;
  }
  &--download {
    width: 79px;
    height: 60px;
    background-position: -10px -90px;
  }
}

