.footer {
  background-color: #3a3e64;
}

.footer__wrap {
  display: flex;
  padding-top: 60px;
  padding-bottom: 100px;
}
.location,
.social,
.info {
  flex-basis: 33.333333%;
}

.social__items {
  text-align: center;
  display: flex;
  justify-content: center;
}

.location__title,
.social__title,
.info__title {
  margin-bottom: 17px;
  text-align: center;;
  font-size: rem(14px);
  line-height: rem(21px);
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

.location__text,
.social__item,
.info__text {
  text-align: center;
  font-size: rem(14px);
  line-height: rem(22px);
  color: #9d9fb2;
}

.social__item {
  font-size: 0;
  display: block;
  width: 40px;
  height: 40px;
  border: 2px solid #ffffff;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  &:not(:last-of-type) {
    margin-right: 7px;
  }
  &--facebook {
    background-position: -152px -2px;
  }
  &--twitter {
    background-position: -194px -80px;
  }
  &--linkedin {
    background-position: -157px -38px;
  }
}