.gallery {
  display: flex;
  //justify-content: space-between;
  flex-wrap: wrap;
}
.gallery__img-wrap {
  flex-basis: calc(25% - 1px);
  margin-bottom: 1px;
  background-size: cover;
  height: 250px;
  overflow: hidden;
  &:not(:last-of-type) {
    margin-right: 1px;
  }
}
.gallery__img {
  width: 100%;
  height: 100%;
}