html {
  box-sizing: border-box;
  font-size: 16px;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
  width: 1920px;
  margin: 0 auto;
  font-family: $font-basic;
}
//sticky footer
.wrapper {
  max-width: 1900px;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
main {
  flex: 1;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
// reset style
ul,
ol,
li  {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
