.menu {
  flex-basis: 50%;
}
.menu__items {
  display: flex;
  justify-content: space-between;
}
.menu__link {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: rem(13px);
  font-weight: bold;
  color: #cbccd3;
}