//responsive
@function rem($px) {
  @return $px / 16px + 0rem;
}

@mixin tablet() {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin desktop() {
  @media screen and (min-width: 1150px) {
    @content;
  }
}

