
.slogan {
  width: 82.90598290598290%;
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
}
.slogan__title {
  text-transform: uppercase;
  font-family: $font-extra;
  font-weight: bold;
  font-size: rem(65px);
  line-height: rem(71px);
  color: #ffffff;
}
.slogan__text {
  margin-top: 30px;
  font-size: rem(22px);
  line-height: rem(33px);
  color: #cbccd3;
}
.btn {
  width: 200px;
  margin-top: 70px;
  padding-top: 17px;
  padding-bottom: 17px;
  background-color: #e84545;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: rem(13px);
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
}